<div>
    <div style="font-size:10px; text-align:left;">
        Massakuvaaja päivittyy kerran viikossa kunnes pentu on 6 kuukautta vanha. Pentu saattaa kasvaa vielä sen jälkeenkin. <br>
        <!--<br>
        Muut ominaisuudet -kuvaaja päivittyy muutosten yhteydessä sekä 3 kuukauden välein. <br>-->
    </div>

    <div ng-if="::dog.charts.hasMassChart()" google-chart chart="dog.charts.mass"></div>
    <!--<div ng-if="dog.charts.hasHeightChart()" google-chart chart="dog.charts.height"></div>-->
    <!--<div ng-if="dog.charts.hasMentalChart()" google-chart chart="dog.charts.mental"></div>-->
</div>