<div>
    <h3 class="own-row">Millä koiralla haluat osallistua {{::activeHappening.getNameGenetive}}?</h3>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="confirm(null)">Peru</button>
</div>

<div class="own-row">
    <div class="happening own-row">
        <h3 class="no-top-margin">{{::activeHappening.getName()}}</h3>

        <div>{{::activeHappening.place}}</div>
        <div>{{::activeHappening.printDate()}}</div>
        <div ng-if="::activeHappening.type != 'Koirakoulu'">Taso
            <div class="star_rating" ng-bind-html="::activeHappening.getStarImage()"></div>
            <div ng-if="::activeHappening.type == 'Koirakoulu'" class="star-height">&nbsp;</div>
        </div>
    </div>
    <br>

    <div class="own-row">
        <div ng-repeat="dog in ::dogs" class="dog">
            <div>
            <span ng-if="::!dog.isDead()">
            <button ng-if="::dog.attributes.number.getAgeInMonths() >= activeHappening.getMinimumAgeInMonths()"
                    type="button" class="rop-button" ng-click="confirm(dog)">Osallistu
            </button>
            <button ng-if="::dog.attributes.number.getAgeInMonths() < activeHappening.getMinimumAgeInMonths()"
                    type="button" class="rop-button rop-button-disabled"
                    title="Tapahtuman ikäraja on {{activeHappening.getMinimumAgeInMonths()}} kk">Liian nuori
            </button>
                </span>
            </div>
            <div ng-include="'dog_app/dog/dog_profile/dog_profile_abstract.html'"></div>
        </div>
    </div>
</div>